.flex-container-v {
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.flex-container-h {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.center {
    align-items: center; 
    justify-content: center;
}

.main-section {
    border-radius: 5px;
    width: 1000px;
    height: 400px;
    background-color: rgb(212, 208, 208); 
    gap: 30px;
}

#title {
    font-size: 50px; 
}

body{
    font-family: 'consolas';
    font-size: 20px;
}