button {
    position: absolute;
    border-radius: 100%;
    font-size: medium;
}

h1 {
    text-align: center;
    color: white;
}

body {
    /* 複製自W3School 禁止選取文字*/
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    background-color: black;
}

